* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 40px;
    background-color: #20232a;
    color: #fff
}

form {
    text-align: center;
}

input {
    width: 90%;
    height: 30px;
    margin: 15px 0;
    padding: 0 10px;
}

hr {
    height: 1px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #61dafb;
}

.title-section {
    text-align: center;
    color: #61dafb;
    border-top: 1px solid #bbb;
    padding: 10px 0;
    font-size: 1.8rem;
    margin: 25px 0 20px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    margin: 10px;
}

.card__img {
    border-radius: 7px;
    max-width: 250px;
}

.card p {
    margin: 10px 0;
    font-size: 0.9rem;
}